# don't quote string values

# test: localhost
# staging: docker compose
# production
NODE_ENV=

# For self signed certificates
NODE_TLS_REJECT_UNAUTHORIZED=0

# core ----------------------------------------------------------------------------------------

SCITRAN_RUNTIME_PORT=8112
SCITRAN_CORE_DRONE_SECRET=
SCITRAN_PERSISTENT_DB_URI=mongodb://mongo:27017/scitran
SCITRAN_AUTH_AUTH_ENDPOINT=https://accounts.google.com/o/oauth2/auth
SCITRAN_AUTH_CLIENT_ID=
SCITRAN_AUTH_ID_ENDPOINT=https://www.googleapis.com/plus/v1/people/me/openIdConnect
SCITRAN_AUTH_VERIFY_ENDPOINT=https://www.googleapis.com/oauth2/v1/tokeninfo
SCITRAN_PERSISTENT_DATA_PATH=/srv/bids-core/persistent/data
SCITRAN_URL=https://nginx:443/api/

# server ----------------------------------------------------------------------------------------

CRN_SERVER_AGAVE_URL=https://api.tacc.utexas.edu/
CRN_SERVER_AGAVE_USERNAME=
CRN_SERVER_AGAVE_PASSWORD=
CRN_SERVER_AGAVE_CLIENT_NAME=
CRN_SERVER_AGAVE_CLIENT_DESCRIPTION=
CRN_SERVER_AGAVE_CONSUMER_KEY=
CRN_SERVER_AGAVE_CONSUMER_SECRET=
CRN_SERVER_AGAVE_STORAGE=

CRN_SERVER_MAIL_SERVICE=
CRN_SERVER_MAIL_USER=
CRN_SERVER_MAIL_PASS=

# app ----------------------------------------------------------------------------------------

CRN_SERVER_URL=https://localhost

# Authentication  ----------------------------------------------------------------------------

# globus|google
AUTH_TYPE=globus

# Globus
GLOBUS_CLIENT_ID=e8c97607-e511-4408-a9e7-d9ab9901b7b2
GLOBUS_CLIENT_SECRET=
GLOBUS_REDIRECT_URI=https://localhost/crn/auth/globus/callback

# Google
GOOGLE_CLIENT_ID=1