# docker compose versions
version: '2'

# shared volumes
volumes:
  project:

services:

  # mongodb
  mongo:
    image: mongo

  # web app bundle build
  app:
    image: ${DOCKER_ORG}/crn_app:${CRN_APP_TAG}
    volumes:
      - project:/srv/crn-app/dist
    env_file: ./config.env
    restart: always

  # crn core (bids-core)
  core:
    image: ${DOCKER_ORG}/bids-core:${BIDS_CORE_TAG}
    volumes_from:
      - container:data_bids-core
    env_file: ./config.env
    restart: always

  # crn node server
  server:
    image: ${DOCKER_ORG}/crn_server:${CRN_SERVER_TAG}
    volumes_from:
      - container:data_bids-core
      - container:data_crn-server
    env_file: ./config.env
    restart: always

  # nginx - static file serving and service proxy
  nginx:
    image: nginx
    volumes_from:
      - container:nido_private_logs:rw
      - container:nido_private_certs:ro
      - container:nido_private_private:ro
      - container:nido_private_nginx:ro
    volumes:
      - project:/srv/crn-app/dist
    ports:
      - "80:80"
      - "8110:8110"
      - "443:443"
    depends_on:
      - server
      - core
